h1 {
  font-size: 70px;
  text-align: center;
}

.container {
  text-align: center;
  line-height: 200px;
}

p {
  text-align: center;
}

.btn {
  color: blue;
  font-size: 20px;
  padding: 30px 20px;
  text-align: center;
}
